{% extends 'finhub/base.html' %}
{% load static %}
{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="h2">Stocks traded on {{exchange.name}}</th>
              <th class="align-self-center text-right">
                <a class="btn btn-primary btn-dark btn-sm" href="{% url 'exchange_update' code=exchange.code %}" role="button">Update</a>
              </th>
            </tr>
          </thead>
  </table>
</div>
<div class="table-responsive">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Company name</th>
              <th>Display symbol</th>
              <th>Symbol</th>
            </tr>
          </thead>
          <tbody>
            {% for row in stocks %}
            <tr data-href="{% url 'company_details' row.id%}">
              <td>{{row.description}}</a></td>
              <td>{{row.displaySymbol}}</td>
              <td>{{row.symbol}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}
{% block custom_js %}
    <script>
        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock custom_js %}