{% extends 'finhub/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ text }}</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Company name</th>
              <th>Short name</th>
              <th>Ticker</th>
              <th>Exchange code</th>
              <th>Currency</th>
              <th>Exchange name</th>
            </tr>
          </thead>
          <tbody>
          {%for company in companies%}
            <tr data-href="{% url 'company_details' company.id%}">
              <!--<th scope="row"><a href="#" class="stretched-link">{{company.id}}</a></th>-->
              <td>{{company.id}}</td>
              <td>{{company.description}}</td>
              <td>{{company.displaySymbol}}</td>
              <td>{{company.symbol}}</td>
              <td>{{company.exchange.code}}</td>
              <td>{{company.exchange.currency}}</td>
              <td>{{company.exchange.name}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        jQuery(document).ready(function($) {
            $('*[data-href]').on('click', function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock custom_js %}