{% load static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        <a class="navbar-brand col-md-3 col-lg-2 w-100 mr-0 px-3" href="{% url 'base' %}">
            <img src="{% static 'finhub/favicon.png' %}" width="32" height="32">
            Finance Hub
        </a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
            data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-search w-100" method="post" id="searchForm" action="{% url 'search'%}">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control form-control-dark " id="search" name="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-dark btn-1 btn-primary btn-block" type="submit" value="go">Go</button>
          </div>
        </div>
      </form>
      {% if user.is_authenticated %}
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'login'%}">Log in</a>
          </li>
        </ul>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'signup'%}">Sign up</a>
          </li>
        </ul>
      {% endif %}
</nav>